<nav class="pay-nav">
  <a routerLink="../">Платежи с карты</a>
  <p>Запрошенные платежи</p>
</nav>

<section class="sort-and-filter">
  <form (submit)="filter($event)">
    <input type="text" placeholder="Поиск по account number">
    <input type="submit" value="find">
  </form>
  <select (change)="sort($event.target.value)">
    <option value="default">Отсортировать по</option>
    <option value="byAmountAscending">По сумме ↑</option>
    <option value="byAmountDescending">По сумме ↓</option>
    <option value="byAccountNumberAscending">По номеру счета ↑</option>
    <option value="byAccountNumberDescending">По номеру счета ↓</option>
  </select>
</section>

<table>
  <tr>
    <th>ITN</th>
    <th>BIK</th>
    <th>Account number</th>
    <th>For what</th>
    <th>How mach</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let x of requestedPayments">
    <td>{{ x.itn }}</td>
    <td>{{ x.bik }}</td>
    <td>{{ x.account_number }}</td>
    <td>{{ x.for_what }}</td>
    <td>{{ x.how_much }}</td>
    <td>{{ x.phone }}</td>
    <td>{{ x.email }}</td>
  </tr>
</table>
