<section class="pay">
    <section class="pay__nav">
        <p>Заплатить</p>
        <a routerLink="request-payment">Запросить платеж</a>
    </section>

    <section class="pay__way">
        <p class="pay__way_boxed">С карты любого банка</p>
        <a routerLink="pay-from-your-online-bank">Из своего интернет-банка</a>
    </section>

    <form (ngSubmit)="pay()" class="pay__information" name="form-pay">
        <app-card [card]="card"></app-card>
        <app-sum [sum]="sum"></app-sum>
    </form>
</section>
