<main>
    <!--<app-client [client]="client"></app-client>-->
    <!--<img class="line" src="../assets/img/line.png" alt="line">-->
    <router-outlet></router-outlet>
    <!--<img class="line" src="../assets/img/line.png" alt="line">-->
    <!--<app-company-products [client]="client"></app-company-products>-->
    <!--<app-addition-information [additionInformation]="additionInformation"></app-addition-information>-->
    <!--<footer>-->
        <!--<app-footer></app-footer>-->
    <!--</footer>-->
</main>

