<section class="sum__input">
  <p>Сумма</p>
  <input [(ngModel)]="sum.amount" type="text" placeholder="от 1 000 до 75000 &#8381;" pattern="(^[1-9]\d{3}$)|(^[1-6]\d{4}$)|(^7[0-4]\d{3}$)|(^75000$)" required>
</section>
<section class="sum__input">
  <p>Комментарий</p>
  <input [(ngModel)]="sum.comment" type="text" placeholder="До 150 символов" pattern=".{1,150}">
</section>
<section class="sum__input">
  <p>Ваша эл. почта</p>
  <input [(ngModel)]="sum.email" type="email" placeholder="Для квитанций об оплате" required>
</section>
<button type="submit"><span></span>Заплатить</button>

